* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.gen {
    padding: 15px;
    color: #fff;
}
.cabecera {
    background-color: #163761;

}

.menu ul {
    list-style-type: none;
    background-color: #5c5c5c;

}

.lateral {
    background-color: darkgoldenrod;

}

.pie {
    background-color: #ecb807;

}

.contenido{
    padding: 15px;
}

[class*="col-"] {
    float: left;
}
.fila::after {
    content: "";
    clear: both;
    display: block;
}

/* Telefono */
[class*="col-"] {
    width: 100%;
}

/* Tablet */
@media screen and (min-width: 600px){
    .col-t-1 {width: 16.66%;}
    .col-t-2 {width: 33.33%;}
    .col-t-3 {width: 50%;}
    .col-t-4 {width: 66.66%;}
    .col-t-5 {width: 83.33%;}
    .col-t-6 {width: 100%;}
}

/* Tablet */
@media screen and (min-width: 600px){
    .col-t-1 {width: 16.66%;}
    .col-t-2 {width: 33.33%;}
    .col-t-3 {width: 50%;}
    .col-t-4 {width: 66.66%;}
    .col-t-5 {width: 83.33%;}
    .col-t-6 {width: 100%;}
}

/* desktop */
@media screen and (min-width: 768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}